/* styles.css */

body {
    background-color: #f3f4f6; /* Optional: Set a background color for the body to make the navbar stand out */
  }




.loading{
   width: 56px;
   height: 56px;
   border: 11.2px #474bff double;
   border-left-style: solid;
   border-radius: 50%;
   animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
   to {
      transform: rotate(360deg);
   }
}
